body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #072c4a;
    color: white;
    padding: 10px 20px;
}
header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}
header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}
header nav ul li a:hover {
    text-decoration: underline;
    color: #ff81e4;
}
.hero {
    background-color: rgb(106, 164, 210);
    color: white;
    text-align: center;
    padding: 100px 20px;
}
.hero-content h1 {
    font-size: 5rem;
}
.hero-content p {
    font-size: 3rem;
    margin: 20px 0;
}
.cta-button {
    background-color: #072c4a;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
/* About Section */
.about {
    padding: 50px 20px;
    text-align: center;
    background-color: rgb(174, 214, 247);
    color: white;
}
.about h2 {
    font-size: 2rem;
}
.about p {
    font-size: 1.5rem;
    color: white;
}

/* Skills Section */
.skills {
    padding: 50px 20px;
    text-align: center;
}
.skills h2 {
    font-size: 2.5rem;
}
.skill-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}
.skill-item {
    padding: 20px;
    background-color: rgb(218, 238, 255);
    border-radius: 10px;
    width: 25%;
}